# Homework: List of planets with mass and distance, Center of Mass for each system
### 1. read the file from exoplanet.eu

In [110]:
import pandas as pd 
import numpy as np

#pf = pd.read_csv('data/exoplanet.eu_catalog.csv') 
#pl = pf[['# name','mass','mass_error_min','semi_major_axis','semi_major_axis_error_min']]
data_ep = pd.read_csv('data/exoplanet.eu_catalog.csv', usecols=['mass','mass_error_min',
                                                                'semi_major_axis','semi_major_axis_error_min',
                                                                'star_name']) #List of planets from exoplanet.eu 
data = data_ep[pd.notnull(data_ep.iloc[:,0])]
data = data[pd.notnull(data.iloc[:,2])]
data

,mass,mass_error_min,semi_major_axis,semi_major_axis_error_min,star_name
0,19.40000,1.50000,1.29000,0.05000,11 Com
1,21.00000,3.00000,243.00000,55.00000,11 Oph
2,10.50000,2.47000,1.54000,0.07000,11 UMi
3,5.33000,0.57000,0.83000,NaN,14 And
4,4.64000,0.19000,2.77000,0.05000,14 Her
5,1.68000,0.07000,1.68000,0.03000,16 Cyg B
6,10.30000,NaN,2.60000,NaN,18 Del
7,14.00000,3.00000,330.00000,0.00000,1RXS1609
8,20.00000,6.00000,3.90000,1.70000,1SWASP J1407
9,0.91000,0.10000,0.19000,0.00900,24 Boo
10,1.99000,0.38000,1.33300,0.00900,24 Sex
11,0.86000,0.22000,2.08000,0.02000,24 Sex
12,13.00000,1.00000,84.00000,NaN,2M 0103-55 (AB)
13,20.00000,7.00000,52.00000,6.00000,2M 0122-24
14,13.90000,1.10000,156.00000,10.00000,2M 0219-39
15,7.50000,2.50000,15.00000,0.60000,2M 0441+23
16,30.00000,25.00000,2.89700,0.00500,2M 0746+20
17,4.00000,1.00000,46.00000,5.00000,2M 1207-39
18,1.90000,0.10000,0.92000,0.02000,2M 1938+46
19,20.00000,20.00000,3.53000,0.15000,2M 2140+16
20,30.00000,20.00000,4.48000,0.40000,2M 2206-20
21,12.50000,1.50000,230.00000,20.00000,2M 2236+4751
22,13.30000,1.70000,6900.00000,NaN,TYC 9486-927-1
27,40.00000,NaN,300.00000,NaN,2MASS J1450-7841 B
28,40.00000,NaN,300.00000,NaN,2MASS J1450-7841 A
29,30.00000,4.00000,518.00000,40.00000,2MASS J2250+2325
30,9.88000,0.94000,0.99500,0.01200,30 Ari B
31,4.51000,0.50000,1.82000,0.07000,38 Vir
32,7.10000,1.60000,0.87000,0.04000,4 Uma
33,3.88000,0.85000,1.19000,0.01000,42 Dra
...,...,...,...,...,...
3794,2.55000,0.13000,1.27000,NaN,eta Cet
3795,3.32000,0.18000,1.93000,NaN,eta Cet
3796,63.88000,56.10000,1.19000,0.02000,gamma 1 Leo
3797,11.09000,4.40000,2.05000,0.06000,gamma Cephei
3798,1.02900,0.08700,1.23970,0.00070,gamma Lib
3799,4.63000,0.12000,2.17610,0.00200,gamma Lib
3800,14.00000,2.00000,55.00000,2.00000,kappa And
3801,1.60000,NaN,2.60000,NaN,kappa CrB
3803,2.02000,0.20000,0.58000,0.03000,ksi Aql
3804,1.67600,NaN,1.50000,0.02000,mu Ara
3805,0.03321,NaN,0.09094,NaN,mu Ara
3806,0.52190,NaN,0.92100,NaN,mu Ara
3807,1.81400,NaN,5.23500,NaN,mu Ara
3808,2.40000,0.40000,1.10000,0.10000,mu Leo
3809,24.00000,NaN,1.90000,NaN,nu Oph
3810,27.00000,NaN,6.10000,NaN,nu Oph
3811,1.70000,NaN,1.10000,NaN,ome Ser
3812,1.50000,NaN,0.83000,NaN,omi CrB
3813,4.10000,NaN,3.90000,NaN,omi UMa
3814,6.50000,1.00000,1.80000,0.10000,sig Per
3815,5.84000,0.55000,0.04600,NaN,tau Boo
3816,0.01240,0.00200,0.53800,0.00600,tau Cet
3817,0.01240,0.00431,1.33400,0.04400,tau Cet
3818,0.00551,0.00130,0.13300,0.00200,tau Cet
3819,0.00576,0.00082,0.24300,0.00300,tau Cet
3820,20.60000,NaN,1.17000,NaN,tau Gem
3821,0.62000,0.09000,0.05900,0.00100,ups And
3822,9.10000,2.93000,0.86100,NaN,ups And
3823,23.58000,2.29000,2.55000,NaN,ups And
3824,1.05900,0.02800,5.24560,0.00067,ups And

### 2. Center of Mass 
in necessary estimate the CM for each planet, so:

### 3. Gaussian Mixture Model